*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.native
*.byte
src/pprint.ml*
src/llvm_lexer.ml
src/llvm_lexer.mli
src/llvm_parser.ml
src/llvm_parser.mli
src/.depend
src/llvm_parser.conflicts
.*.swp
.*.swo
tests/*.ll
tests/*.cps
tests/*.ssa
tests/*.bc
